<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Чат</title>
</head>
<body>
    <h1>Чат</h1>

    <form method="post" action="{% url 'chat' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить</button>
    </form>

    <ul id="chat-messages">
        {% for message in chat_messages %}
            <li>{{ message.author_name }} - {{ message.date_posted }}: {{ message.message_text }}</li>
        {% endfor %}
    </ul>
</body>
</html>
