<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Гостевая книга</title>
</head>
<body>
    <h1>Гостевая книга</h1>

    <form method="post" action="{% url 'guestbook' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить</button>
    </form>

    <ul>
        {% for message in messages %}
            <li>{{ message.author_name }} - {{ message.date_posted }}: {{ message.message_text }}</li>
            <form method="post" action="{% url 'delete_message' message.id %}">
                {% csrf_token %}
                <input type="hidden" name="message_id" value="{{ message.id }}">
                <button type="submit">Удалить</button>
            </form>
        {% endfor %}
    </ul>
</body>
</html>
